body {
  background-color: rgb(163, 163, 163);
  color: rgb(163, 163, 163);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imgLogo{
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(88, 88, 88);
}

