.container {
    margin: 50px 0;
}

.card {
    margin: 0 2% !important;
    width: 400px;
    box-shadow: 5px 5px 5px rgb(88, 88, 88) !important;
}

.infected {
    border-bottom: 10px solid rgb(129, 115, 115);
}

.recovered {
    border-bottom: 10px solid rgb(113, 214, 45);
}

.deaths {
    border-bottom: 10px solid rgb(187, 69, 69);
}

